<div class="row">
<p id="notice"><%= notice %></p>
  <div class="container">
    <h1>Listing Events</h1>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <div class="col-md-12 col-xs-12">
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Schedule at</th>
              <th colspan="1"></th>
            </tr>
          </div>
        </thead>

        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.name %></td>
              <td><%= event.description %></td>
              <td><%= event.schedule_at %></td>
              <td><%= link_to 'Add Parking', new_event_parking_path(event), class: "glyphicon glyphicon-plus-sign margin-15" %>
              <%= link_to 'Edit', edit_event_path(event), class: "glyphicon glyphicon-edit margin-15" %>
              <%= link_to 'Destroy', event, class: "glyphicon glyphicon-remove margin-15", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
    <%= link_to 'New Event', new_event_path %>
  </div>
</div>
