<div class="row">
  <div class="container">
  <p id="notice"><%= notice %></p>
    <div class="col-md-10 col-xs-12 col-md-offset-1 col-xs-offset-1">
      <p>
        <strong>User:</strong>
        <%= @billing.user_id %>
      </p>
      <p>
        <strong>Method:</strong>
        <%= @billing.method %>
      </p>
      <p>
        <strong>Status:</strong>
        <%= @billing.status %>
      </p>
      <p>
        <strong>Comments:</strong>
        <%= @billing.comments %>
      </p>
      <p>
        <strong>Customer:</strong>
        <%= @billing.customer_id %>
      </p>
      <p>
        <strong>Vendor:</strong>
        <%= @billing.vendor_id %>
      </p>
      <p>
        <strong>Parking:</strong>
        <%= @billing.parking_id %>
      </p>
      <%= link_to 'Edit', edit_billing_path(@billing), class: 'btn btn-default btn-success' %>
      <%= link_to 'Back', billings_path, class: 'btn btn-default btn-warning' %>
    </div>
  </div>
</div>
