<div class="row" id="parking-form">
  <div class="col-md-12 col-sm-12">
  <h1>New Parking</h1>
    <%= form_for([@event, @parking]) do |f| %>
      <% if @parking.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@parking.errors.count, "error") %> prohibited this parking from being saved:</h2>

          <ul>
          <% @parking.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name, class: "col-md-4 control-label" %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :price, class: "col-md-4 control-label" %><br>
        <%= f.text_field :price, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :total_slot, class: "col-md-4 control-label" %><br>
        <%= f.number_field :total_slot, min: 0, class: "form-control" %>
      </div> 
      <div class="field">
        <%= f.label :vendor_id, class: "control-label" %><br>
        <%= f.select :vendor_id,  User.where(role: 1).collect {|p| [ p.name, p.id ] }, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :map, class: "col-md-4 control-label" %><br>
        <%= f.text_area :map, class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit "Submit", class: "btn btn-default btn-success" %>
      </div>
    <% end %>
  <%= link_to 'Back', parkings_path %>
  </div>
</div>
