<p id="notice"><%= notice %></p>

<h1>Listing Parkings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Event</th>
      <th>Price</th>
      <th>Total slot</th>
      <th>Vendor</th>
      <th>Map</th>
      <th>Qr code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parkings.each do |parking| %>
      <tr>
        <td><%= parking.name %></td>
        <td><%= parking.event_id %></td>
        <td><%= parking.price %></td>
        <td><%= parking.total_slot %></td>
        <td><%= parking.vendor_id %></td>
        <td><%= parking.map %></td>
        <td><%= parking.qr_code_id %></td>
        <td><%= link_to 'Show', parking %></td>
        <td><%= link_to 'Edit', edit_parking_path(parking) %></td>
        <td><%= link_to 'Destroy', parking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parking', new_parking_path %>
