<div class="row">
<p id="notice"><%= notice %></p>
  <div class="container">
    <div>
    <span style="float:right"><%= link_to 'New Parking', new_parking_path , class: "btn btn-default btn-success"%></span>
    <h1>Parking lots near Times Square, NY</h1></div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <div class="col-md-12 col-xs-12">
            <tr>
              <th>Parking lot name</th>
              <th>Price ($)</th>
              <th>Vendor ID</th>
              <th>Map</th>
              <th>Payment URL</th>
              <th colspan="2"></th>
            </tr>
          </div>
        </thead>

        <tbody>
          <% @parkings.each do |parking| %>
            <tr>
              <td><%= parking.name %></td>
              <td><%= number_with_precision(parking.price, :precision => 2) %></td>
              <td><%= parking.vendor_id %></td>
              <td><%= parking.map %></td>
              <td><%= parking.payment_url %></td>
              <td><%= link_to 'Edit', edit_parking_path(parking), class: "glyphicon glyphicon-edit margin-15" %>
              <%#= link_to 'Destroy', parking, class: "glyphicon glyphicon-remove margin-15", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
  </div>
</div>
