<div class="row">
  <div class="container">
  <p id="notice"><%= notice %></p>
    <div class="col-md-10 col-xs-12 col-md-offset-1 col-xs-offset-1">
      <p>
        <strong>Name:</strong>
        <%= @parking.name %>
      </p>

      <p>
        <strong>Event:</strong>
        <%= @parking.event_id %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @parking.price %>
      </p>

      <p>
        <strong>Total slot:</strong>
        <%= @parking.total_slot %>
      </p>

      <p>
        <strong>Vendor:</strong>
        <%= @parking.vendor_id %>
      </p>

      <p>
        <strong>Map:</strong>
        <%= @parking.map %>
      </p>

      <p>
        <strong>Payment url:</strong>
        <%= @parking.payment_url %>
      </p>

      <%= link_to 'Edit', edit_parking_path(@parking), class: 'btn btn-default btn-success' %>
      <%= link_to 'Back', parkings_path, class: 'btn btn-default btn-warning' %>
    </div>
  </div>
</div>
