<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parking.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @parking.event_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @parking.price %>
</p>

<p>
  <strong>Total slot:</strong>
  <%= @parking.total_slot %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @parking.vendor_id %>
</p>

<p>
  <strong>Map:</strong>
  <%= @parking.map %>
</p>

<p>
  <strong>Qr code:</strong>
  <%= @parking.qr_code_id %>
</p>

<%= link_to 'Edit', edit_parking_path(@parking) %> |
<%= link_to 'Back', parkings_path %>
